html {
  scroll-behavior: smooth;
  font-family: "Avenir";
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: "Outage", sans-serif;
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 750;
}

h4 {
  font-size: 32pt;
  font-family: "Outage", sans-serif;
  display: inline;
}

div {
  text-align: center;
}

#mobileHeader {
  height: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: midnightblue;
  z-index: 10;
}

#mobileHeader p {
  color: white;
  font-family: 'Outage', sans-serif;
  padding-top: 10px;
}

nav {
  position: fixed;
  display: flex;
  z-index: 10;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  right: 0;
  margin-right: 10px;
}

nav a {
  color: lightgray;
  font-family: "Outage", sans-serif;
  text-align: right;
}

nav a:hover {
  color: orange;
  animation: grow-text 0.5s;
  animation-fill-mode: forwards;
}

.nav-active {
  color: orange;
  animation: grow-text 0.5s;
  animation-fill-mode: forwards;
}

.nav-inactive {
  color: lightgray;
  animation: shrink-text 0.5s;
  animation-fill-mode: forwards;
}

#landing {
  width: 30%;
  background-color: rgba(190, 190, 190, 0.6);
  color: black;
  padding: 15px 25px;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  vertical-align: middle;
  z-index: 2;
}

#landing img {
  max-width: 80%;
}

.logo {
  display: block;
  margin: 0px auto;
}

#date {
  font-size: 16pt;
}

#date > h1 {
  font-size: 16pt;
  display: inline;
}

#register-button {
  font-family: Outage, sans-serif;
  background-color: black;
  border: 0px;
}

#register-button:hover {
  background-color: orange;
}

#social-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 30%;
  margin: 10px auto 0px auto;
}

#social-container > a:hover {
  color: orange;
}

#slogan {
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  animation: bounce 2s ease infinite;
}

.fa-angle-double-down {
  color: orange;
  animation:
}

.section {
  position: relative;
  margin: 0px auto;
  color: white;
  padding: 5px;
  width: 60%;
  background-color: rgba(190, 190, 190, 0.6);
  z-index: 5;
  border-radius: 5px;
}

.section-header {
  position: relative;
  padding-top: 50px;
  color: white;
  font-size: 50px;
  text-align: center;
  z-index: 5;
}

#faq_section {
  margin-top: 1000px;
}

#faq-bg {
  position: absolute;
  top: 100%;
  z-index: 2;
}

#mountains {
  width: 100%;
}

#hill {
  width: 100%;
  transform: translateY(-40%);
}

.accordion button {
  color: white;
  text-decoration: none;
  font-family: "Outage", sans-serif;
  font-size: 20pt;
}

.accordion button:hover {
  color: orange;
  text-decoration: none;
}

#schedule-bg {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 200px;
  background-color: mediumseagreen;
  padding-bottom: 50px;
}

.card-schedule {
  background-color: rgba(190, 190, 190, 0.8);
  border-radius: 5px;
  margin: 5px auto;
  padding: 5px auto;
  min-height: 75px;
}

.card-title h4 {
  font-size: 20px;
}

#city {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50px;
  z-index: 2;
}

#prizes-bg {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 200px;
  background-color: skyblue;
}

#prizes_section .row {
  padding-bottom: 10px;
}

#prizes_section hr {
  border: 1.5px solid lightgray;
  width: 90%;
}

#waves {
  width: 125%;
  position: absolute;
  top: 100px;
  left: -12.5%;
  z-index: 3;
  animation: waves 4s ease infinite;
}

#sponsors-bg {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 200px;
  background-color: cadetblue;
  padding-bottom: 50px;
}

div.gold-sponsor:hover, div.silver-sponsor:hover, div.bronze-sponsor:hover {
  animation: grow-logo 0.5s;
  animation-fill-mode: both;
}

.gold-sponsor {
  width: 300px;
  height: 200px;
  margin: 25px auto;
  background-color: rgba(150, 150, 150, .9);
  border-radius: 5px;
}

.gold-sponsor img {
  max-width: 300px;
  max-height: 200px;
  padding: 15px;
}

.silver-sponsor {
  width: 250px;
  height: 175px;
  margin: 25px auto;
  background-color: rgba(150, 150, 150, .9);
  border-radius: 5px;
}

.silver-sponsor img {
  max-width: 250px;
  max-height: 175px;
  padding: 15px;
}

.bronze-sponsor {
  width: 200px;
  height: 150px;
  margin: 25px auto;
  background-color: rgba(150, 150, 150, .9);
  border-radius: 5px;
}

.bronze-sponsor img {
  max-width: 200px;
  max-height: 150px;
  padding: 15px;
}

.partner {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin: 25px auto;
  background-color: rgba(150, 150, 150, .9);
  border-radius: 5px;
}

.partner img {
  max-width: 200px;
  max-height: 150px;
  padding: 15px;
  margin: auto 0px;
  height: 100%;
  vertical-align: middle;
}

.modal-dialog {
  max-width: 60%;
}

#registration-form div {
  text-align: left;
}

#registration-form a {
  text-decoration: underline;
}

#registration-form a:hover {
  color: orange;
}

.card {
  border: 0px;
  background-color: transparent;
}

.card-header {
  background-color: transparent;
}

.card-body {
  font-family: "Avenir", sans-serif;
  color: black;
  background-color: white;
  border: 1px solid gray;
}

.orange {
  color: orange;
}

/***   FONTS    ***/

@font-face {
  font-family: Outage;
  src: url(Outage.ttf);
}

@font-face {
  font-family: Avenir;
  src: url(AvenirNextRoundedProRegular.ttf);
}

/*** ANIMATIONS ***/

@keyframes grow-text {
  from {
    font-size: 16pt;
  }

  to {
    font-size: 20pt;
  }
}

@keyframes shrink-text {
  from {
    font-size: 20pt;
  }

  to {
    font-size: 16pt;
  }
}

@keyframes grow-logo {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes waves {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }}

/*** STARS ***/
div#stars {
  position: absolute;
  top: 0;
  left: 0;
  height: 200%;
  width: 100%;
  background-color: #1d1d21;
  z-index: 0;
}

.star {
  position: absolute;
  left: 0px;
  background-color: white;
  border-radius: 50%;
  animation-name: moveX;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}

.small {
  top: 10px;
  width: 3px;
  height: 3px;
  animation-duration: 10s;
  background-color: gray;
}

.medium {
  top: 50px;
  width: 4px;
  height: 4px;
  animation-duration: 8s;
}

.big {
  left: 0px;
  top: 100px;
  width: 5px;
  height: 5px;
  animation-duration: 6s;
}

@keyframes moveX {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-200px);
  }
}

/*** https://codepen.io/DonKarlssonSan/pen/qEQVaK ***/


body {
	overflow-x: hidden;
}

#background-wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
    height: 50%;
	z-index: 5;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 60px;
	position: relative;
	width: 175px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 50px;
	left: 25px;
	top: -25px;
	width: 50px;
}

.cloud:before {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	width: 90px;
	height: 90px;
	right: 25px;
	top: -45px;
}


.whaleContainer {
	 position: relative;
	 transform: translateX(0);
	 animation-name: whaleTranslate;
	 animation-duration: 15s;
	 animation-iteration-count: infinite;
	 animation-timing-function: linear;
	 z-index: 3;
}
 @keyframes whaleTranslate {
	 0% {
		 transform: translateX(-25%);
	}
	 100% {
		 transform: translateX(125%);
	}
}
 .whalePos {
	 position: absolute;
	 z-index: 3;
}
 .whalePos.size1 {
	 top: 150px;
	 left: -210px;
}
 .whalePos.size2 {
	 top: 100px;
	 left: -280px;
}
 .whalePos.size3 {
	 top: 120px;
	 left: -140px;
}
 .whalePos.size4 {
	 top: 190px;
	 left: -310px;
}
 .whaleRotate {
	 position: relative;
	 width: 245px;
	 height: 110px;
	 animation-duration: 2s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
}
 .whaleRotate.size1 {
	 transform: rotate(0) scale(0.65);
	 animation-name: whaleMovementXLarge;
}
 .whaleRotate.size2 {
	 transform: rotate(0) scale(0.55);
	 animation-name: whaleMovementLarge;
}
 .whaleRotate.size3 {
	 transform: rotate(0) scale(0.45);
	 animation-name: whaleMovementMedium;
}
 .whaleRotate.size4 {
	 transform: rotate(0) scale(0.4);
	 animation-name: whaleMovementSmall;
}
 @keyframes whaleMovementXLarge {
	 0% {
		 transform: rotate(0) scale(0.35);
	}
	 100% {
		 transform: rotate(10deg) scale(0.35);
	}
}
 @keyframes whaleMovementLarge {
	 0% {
		 transform: rotate(0) scale(0.25);
	}
	 100% {
		 transform: rotate(10deg) scale(0.25);
	}
}
 @keyframes whaleMovementMedium {
	 0% {
		 transform: rotate(0) scale(0.15);
	}
	 100% {
		 transform: rotate(10deg) scale(0.15);
	}
}
 @keyframes whaleMovementSmall {
	 0% {
		 transform: rotate(0) scale(0.1);
	}
	 100% {
		 transform: rotate(10deg) scale(0.1);
	}
}
 .whale {
	 position: absolute;
	 width: 500px;
	 height: 200px;
  z-index: 3;
	 background: radial-gradient(at 40% 20%, #95d6df 0%, #95d6df 35%, #6db3c2 35%, #6db3c2 60%, #6db3c2 70%, #407a8b 70%, #407a8b 100%);
	 clip-path: polygon(15% 0%, 18.5% 20%, 19% 37%, 27% 46.5%, 33% 46.5%, 42.5% 37%, 43% 26.5%, 50.5% 28.5%, 65.5% 17%, 88.5% 12.5%, 97.5% 22.5%, 100% 49.5%, 97% 65.5%, 89.5% 81.5%, 64.5% 86.5%, 43.5% 80%, 23% 59.5%, 15.5% 41.5%, 8% 40%, 1.5% 28.5%, 6.5% 25%, 12.5% 26.5%, 12% 14%);
}
 .fin {
	 position: absolute;
	 top: 100%;
	 left: 75%;
	 z-index: 3;
	 width: 100px;
	 height: 60px;
	 background: #407a8b;
	 transform-origin: center top;
	 clip-path: polygon(30% 50%, 60% 0, 100% 0%, 80% 60%, 60% 80%, 0 100%);
	 animation-name: fin;
	 animation-duration: 2s;
	 animation-iteration-count: infinite;
	 animation-direction: alternate;
	 animation-timing-function: linear;
}
 @keyframes fin {
	 0% {
		 transform: rotate3d(0, 0, 0, 0deg);
	}
	 100% {
		 transform: rotate3d(1, 1, 1, 30deg);
	}
}
 
